<app-menu></app-menu>
<div class="container">

    <h1>Dados do livro</h1>
    <div class="row">
        <div class="col-md-1 label">Título</div>
        <div class="col-md-11">{{livro.titulo}}</div>
    </div>

    <div class="row">
        <div class="col-md-1 label">Autor</div>
        <div class="col-md-11">{{livro.autor}}</div>
    </div>

    <div class="row">
        <div class="col-md-1 label">Editora</div>
        <div class="col-md-11">{{livro.editora}}</div>
    </div>

    <div class="row">
        <div class="col-md-12 label">Resumo</div>
        <div class="col-md-12">{{livro.resumo}}</div>
    </div>

        <a [routerLink]="['/livros/imagem/',livro.id]" class="btn btn-primary">Atualizar Capa</a>
        
        <a [routerLink]="['/livros/update/',livro.id]" class="btn btn-warning">Atualizar</a>
        <a [routerLink]="['/livros/delete/',livro.id]" class="btn btn-danger">Deletar</a>
        
</div>
